/* You can add global styles to this file, and also import other style files */
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    /*overflow:hidden;*/
    font-family: 'Open Sans', sans-serif;
}

.jumbotron {
    background-color: #ec971f;
}

#title {
    color: white;
    font-family: 'Indie Flower', cursive;
}

#subtitle {
    color: white;
    margin-top: 1em;
}

.container {
    display: none;

}

#scheduleBorder {
    width: 90px;
    text-align: center;
}

#eventName {
    width: 300px;

}

#description {
    width: 500px;
    height: 150px;

}

#mainCont {

    margin-left: 15%;
}

#midCont {

    margin-left: 4%;
}

#createEventDiv {
    margin-left: 46%;
}

#AddRecipe {
    border: 2px;
    border-style: solid;
    text-align: center;
    display: inline;
    padding: 1em
}

#AddRecipe:hover {
    background-color: lightgray;
    cursor: pointer;
}

#clock {
    background-image: url('');
    background-size: cover;
    background-position: center;
    height: 250px;
    width: 250px;

}

#content {
    background-color: lightgray;
    width: 500px;
    margin-left: 32%;

}