<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eat-Me</title>
    <script src="./jQuery.js"></script>
    <script src="./bootstrap.min.js"></script>
    <script src="./landingpage.js"></script>
    <link rel="stylesheet" href="./bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="./landingpage.css">
    <link rel="stylesheet" href="./jquery-ui.min.css">
    <script src="./jquery-ui.min.js"></script>
</head>
<body>
<div class="jumbotron">
    <input id="logout" type="submit" name="logout" class="btn-primary float-right" value="Logout"><br><br>
    <a href="./"><h1 id="title" class="text-center">Eat Me</h1></a>
    <div class="text-center"><img src="./basket.png" width="5%"></div>
    <h6 id="subtitle" class="text-center">Never Losing Recipes Again</h6>
</div>

<div id="mainCreateEvent">
    <div id="createEventDiv">
        <p id="createEvent">Add Recipe</p><br><br>
    </div>
    <div id='clock'></div>
    <div id="content"></div>

</div>

<div class="container">
    <div id="mainCont" class="row">
        <div class="col-md-4 float-left">
            <h2>Details</h2>
            <form id="data">
                <input id="FoodName" type="text" name="FoodName" placeholder="Food Name" required><br><br>
                <textarea id="description" name="description" placeholder="Recipe Details" required></textarea><br><br>
                <input type="text" id="getVal" name="background-image" placeholder="Url of Image" required/><br/><br/>
                <input type="text" placeholder="Log Date" id="datePicker" required><br>
                <input id="Add" type="submit" name="Add" value="Add">
                <input id="cancelSubmit" type="submit" name="cancelSubmit" value="Cancel">
            </form>
        </div>
    </div>


    <hr>

    <footer>
        <p>&copy; On-Hour-Time 2017</p>
    </footer>
</div>


</body>

</html>